# ---------------------------
# Sistema Operacional
# ---------------------------
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
*~

# ---------------------------
# IDEs
# ---------------------------
.idea/
*.iml
out/
.vscode/

# ---------------------------
# Build e dependências
# ---------------------------
/target/

# ---------------------------
# Logs e temporários
# ---------------------------
*.log
logs/
*.tmp
*.temp

# ---------------------------
# Configurações sensíveis
# ---------------------------
.env
.env.local

application-local.yml
application-dev.yml
application-prod.yml

# Certificados
*.jks
*.keystore
*.p12
*.pem

# ---------------------------
# Banco / arquivos locais
# ---------------------------
*.db
*.sqlite
*.h2.db

# ---------------------------
# Uploads
# ---------------------------
/uploads/

# ---------------------------
# Android (futuro)
# ---------------------------
.gradle/
local.properties
*.apk
*.ap_